MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/portfolio?retryWrites=true&w=majority
GMAIL_USER=your_gmail_address@gmail.com
# IMPORTANT: Generate a Gmail App Password: https://support.google.com/accounts/answer/185833
GMAIL_PASS=your_gmail_app_password
NOTIFICATION_EMAIL=your_notification_receiver_email@gmail.com
